<%- include('partials/header') %>

<div class="container">
    <div class="page-title">
        <h1>Weather in <%= city %> - Tomorrow</h1>
        <% const tomorrow = new Date(); tomorrow.setDate(tomorrow.getDate() + 1); %>
        <p class="page-subtitle"><%= tomorrow.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' }) %></p>
    </div>

    <section class="hourly-detailed">
        <table class="hourly-table">
            <thead>
                <tr>
                    <th rowspan="2">Parameter</th>
                    <% hourlyForecast.forEach(hour => { %>
                        <th><%= hour.hour.toString().padStart(2, '0') %>:00</th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="row-header">Icon</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td class="icon-cell">
                            <img src="/images/weather-icons/<%= hour.code %>.svg" alt="<%= hour.condition %>" onerror="this.src='/images/weather-icons/default.svg'">
                        </td>
                    <% }) %>
                </tr>
                <tr>
                    <td class="row-header">Temperature</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td class="temp-cell <%= hour.temp > 0 ? 'temp-positive' : 'temp-negative' %>">
                            <%= hour.temp > 0 ? '+' : '' %><%= hour.temp %>°
                        </td>
                    <% }) %>
                </tr>
                <tr>
                    <td class="row-header">Feels like</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td><%= hour.feelsLike > 0 ? '+' : '' %><%= hour.feelsLike %>°</td>
                    <% }) %>
                </tr>
                <tr>
                    <td class="row-header">Precipitation</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td class="precip-cell"><%= hour.precipitation %>%</td>
                    <% }) %>
                </tr>
                <tr>
                    <td class="row-header">Wind</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td class="wind-cell"><%= hour.wind %> m/s</td>
                    <% }) %>
                </tr>
                <tr>
                    <td class="row-header">Humidity</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td class="humidity-cell"><%= hour.humidity %>%</td>
                    <% }) %>
                </tr>
                <tr>
                    <td class="row-header">Pressure</td>
                    <% hourlyForecast.forEach(hour => { %>
                        <td class="pressure-cell"><%= hour.pressure %></td>
                    <% }) %>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<%- include('partials/footer') %>
